<strong> Olá {{ email }}</strong>, tudo bem?
<p>Recebemos sua solicitação para obter a senha de acesso! Se voce nao solicitou este acesso por favor entre
   em contato
   imeditamente pois seus dados pessoais podem estar em risco podendo ser usados maliciosamente em crimes
   ciberneticos!!!
   <br />
<P>
   Solicitação feita em: <strong>{{date}}</strong>
</P>
<P>
   Senha de acesso: <strong> {{ password }} </strong>
   <br />
</P>
<P>
   Recomendamos veementemente a troca de senha após acesso ao sistema. Mantenha sua senha de acesso em lugar seguro e
   jamais compartilhe.
</P>
</p>